<template>
  <v-tabs
    v-model="tab"
    color="primary"
    slider-color="primary"
    centered
    grow
    icons-and-text
  >
    <v-tabs-slider></v-tabs-slider>
    <v-tab href="#letters">
      Letters
      <v-icon>mdi-alphabetical</v-icon>
    </v-tab>
    <v-tab disabled href="#numbers">
      Numbers
      <v-icon>mdi-calculator</v-icon>
    </v-tab>

    <v-tab-item value="letters">
      <letters/>
    </v-tab-item>

    <v-tab-item value="numbers">
      Coming soon
    </v-tab-item>
  </v-tabs>
</template>

<script>
import Letters from './Letters'

export default {
  data: () => ({
    tab: null
  }),
  components: {
    Letters
  }
}
</script>
