<template>
  <v-card
    class="pa-6"
    color="blue lighten-2"
    tile
  >
    <v-card
      class="pa-1"
      color="black"
      tile
    >
      <v-card
        class="d-flex justify-center py-1 pl-1"
        color="blue lighten-2"
        tile
      >
        <v-card
          v-for="(v, i) in letters"
          :key="i"
          class="d-flex mr-1 px-2 blue white--text"
          color="blue darken-2"
          outlined
          tile
        >
          <v-text-field
            :name="`letter-${i}`"
            :id="`letter-${i}`"
            ref="letters"
            :value="v"
            @keydown="onlyLetter"
            @input="val => onChange(i, val)"
            :autofocus="!i"
            maxlength="1"
            single-line
            flat
            dark
            class="letters-input"
          ></v-text-field>
        </v-card>
      </v-card>
      <v-card
        class="d-flex justify-center py-1 pl-1"
        color="blue lighten-2"
        tile
      >
        <v-card
          v-for="(v, i) in highestScore"
          :key="i"
          class="d-flex mr-1 px-2 blue white--text"
          color="blue darken-2"
          outlined
          tile
        >
          <v-text-field
            :name="`highest-score-${i}`"
            :id="`highest-score-${i}`"
            ref="highest-score"
            :value="v"
            maxlength="1"
            single-line
            flat
            dark
            disabled
            class="letters-input"
          ></v-text-field>
        </v-card>
      </v-card>
    </v-card>
    <v-btn
      color="success"
      class="mt-3"
      @click="clear"
    >
      Clear
    </v-btn>
  </v-card>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'

export default {
  data: () => ({
    letters: Array(9)
  }),
  computed: {
    ...mapState({
      highestScore: state => state.highestScore.padEnd(9, ' ')
    })
  },
  methods: {
    ...mapActions(['solveLetters']),
    ...mapMutations(['clearLetters']),
    onlyLetter (e) {
      const key = e.keyCode || e.which
      const chrCode = key - 48 * Math.floor(key / 48)
      const v = String.fromCharCode(key >= 96 ? chrCode : key)
      if (v.length === 1 && v.match(/[a-zA-Z]/i)) return
      e.preventDefault()
    },
    onChange (index, letter) {
      this.letters[index] = letter.toUpperCase()
      const next = this.$refs.letters[index + 1]
      if (!next) {
        this.solveLetters(this.letters.join(''))
        return
      }
      this.$nextTick(() => next.$refs.input.focus())
    },
    clear () {
      this.letters = Array(9)
      this.clearLetters()
      this.$nextTick(() => this.$refs.letters[0].$refs.input.focus())
    }
  }
}
</script>

<style scoped>
.letters-input >>> .v-input__slot {
  background: none !important; /* show bg color from underlying card */
  margin-bottom: 0; /* remove offset from vertical center */
}
.letters-input >>> .v-input__slot::before {
  border-style: none !important; /* prevent underline from showing */
}
.letters-input >>> input {
  color: white !important;
  text-align: center;
  text-transform: uppercase;
}
</style>
