<template>
  <v-app id="inspire">
    <v-app-bar
      app
      color="blue"
      dark
    >
      <v-toolbar-title>Countdown Solver</v-toolbar-title>

      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            xs="12"
            sm="8"
            md="8"
            lg="6"
          >
            <v-card class="elevation-4">
              <challenges/>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Challenges from '@/components/Challenges'

export default {
  props: {
    source: String
  },
  components: {
    Challenges
  }
}
</script>
